<div>
    <button (click) = "getTasks()">Refresh</button>
</div>
<br>
<div>
    <table class='table table-hover'>
        <thead>
            <th>Id</th>
            <th>Task</th>
            <th>Is Completed?</th>
        </thead>
        <tbody>
            <tr *ngFor ='let temp of allTasksArray'>
                <td><a [routerLink]="['/taskbyid',temp.id]">{{temp.id}}</a></td>
                <td>{{temp.title}}</td>
                <td>{{temp.completed}}</td>
                <!-- <td><input type="checkbox" [(ngModel)]="theCheckbox"  data-md-icheck (change)="toggleVisibility($event)"></td>-->
            </tr> 
        </tbody>
    </table>
</div>
<div>
    <form [formGroup]="todos">
        <input type="number" formControlName='id' placeholder="Task ID">
        <button (click)='getTaskById(todos)'>Get Task</button>
        <button (click)='deleteTaskById(todos)'>Delete Task</button>
    </form>
</div>
<div>
</div>
