.title{
    margin-top: -10px;
    font-size: 25px;
    color: rgb(245, 71, 71);
    text-align: center;
    margin-left: -135px;
}

.errorMsg{
    color:red;
    font-size: 18px;
    margin-top: 10px;
}

.trash:hover{
    color: red;
    cursor: pointer;
    font-size: 16px;
}

.editbutton:hover{
    color: lightgreen;
    font-size: 16px;
}

.addbuttondiv{
    text-align: center;
}

.addbutton{
    color: lightblue;
}
.addbutton:hover{
    color: darkgreen;
    font-size: 18px;
}

.truncateButton{
    color: white;
    font-size: 13px;
    font-weight: bold;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    vertical-align: middle;
}

