<div>
    {{taskId}}
    <form>
        <span><b>Id: </b></span><input class="taskId" type="text" [(ngModel)] = 'test' name='idinput'>

        <button (click)='getTaskById(taskId)'>Get Task</button>
        <!-- <div *ngIf='buttonClicked' >
            <h2>name:</h2>
            <input class="taskDesc" type="text" value={{taskInfo.title}}>
            <h2>Completed:</h2>
            <div>
                <div *ngIf=(taskInfo.completed)>
                    <input class="taskDesc" type="checkbox" value={{taskInfo.completed}} checked>
                </div>
                <div *ngIf=!(taskInfo.completed)>
                    <input class="taskDesc" type="checkbox" value={{taskInfo.completed}}>
                </div>
            </div>

        </div> -->
        <table class='table table-hover'>
            <thead>
                <th>Id</th>
                <th>Task</th>
                <th>Is Completed?</th>
            </thead>
            <tbody>
                <tr>
                    <td>{{taskInfo.id}}</td>
                    <td>{{taskInfo.title}}</td>
                    <td>{{taskInfo.completed}}</td>
                </tr>
        </table>

    </form>
</div>