.maindivselecttask{
    margin-left: 20px;
}

#taskTable{
    text-align: center;
}
.errorMsg{
    color:red;
    font-size: 18px;
    margin-top: 10px;
}

h3 {
    font-size: 20px;
    color: rgb(199, 138, 5);
}

h2{
    color: rgb(199, 138, 5);
}

.taskDesc{
    align-content: center;
}

.taskDesc:disabled{
    background-color: blue;
    color: blue;
}
