<div>
    <form>
        <h2>Id:</h2>
        <input class="taskId" type="text" [(ngModel)] = 'test' name='idinput'>

        <button (click)='getTaskById()'>Get Task</button>
        <div *ngIf='buttonClicked' >
            <table class='table table-hover'>
                <thead>
                    <th>Name</th>
                    <th>Completed</th>
                </thead>
                <tr>
                    <td>
                        <input class="taskDesc" type="text" value={{taskInfo.title}}>
                    </td>
                    <td>
                        <div class="taskComp" *ngIf=(taskInfo.completed)>
                            <input class="taskDesc" type="checkbox" value={{taskInfo.completed}} checked>
                        </div>
                        <div class="taskComp" *ngIf=!(taskInfo.completed)>
                            <input class="taskDesc" type="checkbox" value={{taskInfo.completed}}>
                        </div>
                    </td>
                </tr>
            </table>

        </div>

    </form>
</div>