<div  *ngIf="isDataAvailable">
    <form [formGroup]="taskById">
        <h2>Id:</h2>
        <input class="taskId" type="text" formControlName="id" 
        [(ngModel)]= 'taskInfo.id' disabled>
        <h2>name:</h2>
        <input class="taskDesc" type="text" formControlName="title" 
        [(ngModel)]= 'taskInfo.title'><br><br>
        <button (click)='completeTask(taskById)'>Complete Task</button>
        <button (click)='updateTask(taskById)'>Update Task</button>
        <button (click)='deleteTaskById(taskById)'>Delete Task</button>
        
    </form>
</div>